html, body {
height: 100%;
width: 100%;
background: #f7c8f8;
}

.root{
  height: 100%;
  width: 100%;
}

.container{
  height: 100%;
  width: 100%;
  display: flex;
}

.contener__img{
  width: 40%;
  object-fit: cover;
}

.container__content {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 100px;
}

.content__redessociais {
  display:flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.content__redessociais__item {
  margin-right: 10px;
}

.content__name{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(167, 14, 154);
  font-size: 46px;
}
.content__description{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}